/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - MAP */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.map-wrapper {
    height: 550px;
    &.fadeInTop {
    	transition-delay: 0ms !important;
    }
}

.contactMapWrapper {
	position: relative;
	z-index: 5;
}

/*----------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------*/

@media (max-width: 1366px) {
    .map-wrapper {
    	height: 450px;
    }
}

@media (max-width: 767px) {
    .map-wrapper {
    	height: 375px;
    }
}