/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 00 - SERVICES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.jarallax.size1 {
	height: 700px;
	&.innerBg  {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}

/*----------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------*/

@media (max-width: 1366px) {
    .jarallax.size1 {
        height: 450px;
    }
}

@media (max-width: 991px) {
    .jarallax.size1 {
    	height: 400px;
    }
    .imgSm {
    	padding-bottom: 55%;
    	position: relative;
    }
}
